h1 { font-size: 1.5rem; margin-bottom: 1.5rem; color: var(--primary-color); }
h2 { font-size: 1.2rem; margin-bottom: 1rem; color: var(--text-main); }

input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: all 0.2s;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover { background-color: var(--primary-hover); opacity: 0.9; }

#btn-back {
    background-color: var(--secondary-color); /* Color gris/blau suau */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%; /* Ocupa tot l'ample del quadre */
    transition: background 0.2s;
}

#btn-back:hover {
    background-color: #475569; /* Un gris més fosc al passar el ratolí */
}
.loader {
    padding: 20px;
    color: var(--secondary-color);
    font-style: italic;
}